<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Пицца Дон🍕</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <BiShop Size="22"></BiShop> Меню
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cart">
                <BiCart2 Size="22"></BiCart2> Корзина
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reciept">
                <BiReceipt Size="22"></BiReceipt> Рецепты
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="support">
                <BiPatchQuestion Size="22"></BiPatchQuestion> Поддержка
            </NavLink>
        </div>

    </nav>
</div>

